.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-margin {
  margin: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* -------------------------------  */
body {
  background-color:  black;
  color:black;
}

.siteHeader {
  color : #EF476F;
}

.TopContainer {

  background-image: url("netflix.jpg");
  /* background-color:  #FFD166; */

}

.movieBanner {
  height : 300px;
  width : 200px;
}

.bottomMovieContainer {
  background-color:  #06D6A0;
  color : black;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail p {
  margin-top: 15px;
  color: #555;
}

#overview {
  display: none;
}
img {
  width: 100%;
  height: auto;
}

.text-white{
  color:white;
}

.child-data {
  opacity: 1;
}